
<div class="top-navbar">

    <div class="logo">
        <NavLink href="" Match="NavLinkMatch.All">
            Biblioteca
        </NavLink>
    </div>

    <nav class="menu">

        <NavLink class="menu-item" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>

        <NavLink class="menu-item" href="autores">
            Autores
        </NavLink>

        <NavLink class="menu-item" href="editoras">
            Editoras
        </NavLink>

        <NavLink class="menu-item" href="livros">
            Livros
        </NavLink>

        <NavLink class="menu-item" href="categorias">
            Categorias
        </NavLink>
        
        <NavLink class="menu-item" href="usuarios">
            Usuários
        </NavLink>


        

    </nav>

</div>

